<h1>Employees with absences</h1>
<div class="well">
    <p>Current period: <%= @current_period.description %></p>
    <p>from <%= @current_period.initial_date %> to <%= @current_period.final_date %>.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee barcode</th>
            <th>Total Absences<br> in the period</th>
            <th>Absences dates <br>(Weekends not included)</th>
        </tr>
    </thead>
    <tbody>
        <% @absences.each do |key, value| %>
            <tr>
                <td>
                    <%= key.barcode %>
                </td>
                <td>
                    <%= value.size %>      
                </td>
                <td>
                    <ul class="nav nav-pills nav-stacked">
                        <% value.each_with_index do |v, index| %>
                            <li><%= value[index] %></li>
                        <% end %>
                    </ul>
                </td>
            </tr>
        <% end %>
    </tbody>    
</table>

<%= link_to "Back", admin_menu_path %>
