<h1>Employees arriving late</h1>
<div class="well">
    <p>Current period: <%= @current_period.description %></p>
    <p>from <%= @current_period.initial_date %> to <%= @current_period.final_date %>.</p>
    <p>Tolerance: <%= @arrival_tolerance %></p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Late entries count</th>
            <th>Late entries dates</th>
        </tr>
    </thead>
    <tbody>
        <% @late_entries.each do |key, value| %>
            <tr>
                <td>
                    <%= key %>
                </td>
                <td>
                  <%= value.size %>      
                </td>
                <td>
                    <ul>
                      <% value.each_with_index do |v, index| %>
                          <li><%= value[index].arrival_at.strftime("%F at %I:%M%p") %></li>
                      <% end %>
                    </ul>
                </td>
            </tr>
        <% end %>
    </tbody>    
</table>
