<h1>Working hours employee with badge <%= @barcode %></h1>
<div class="well">
    <p>Current period: <%= @current_period.description %></p>
    <p>From <%= @current_period.initial_date %> to <%= @current_period.final_date %>.</p>
    <p>Payday date: <%= @current_period.payday %></p>
    Days remaining to reach the payday:  <%=  @current_period.days_to_payday(@current_period.payday) %>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Arrival - Departure</th>
            <th>Working hours</th>
        </tr>
    </thead>
    <tbody>
        <% @employee_entries.each do |entry| %>
            <tr>
                <td>
                    <%= entry.arrival_at.strftime("%F") %>
                </td>
                <td>
                    <%= entry.arrival_at.strftime("%I:%M%p") %> - <%= entry.departure_at.strftime("%I:%M%p")  %>      
                </td>
                <td>
                    <%= calculate_hours(entry.arrival_at, entry.departure_at) %>
                </td> 
            </tr>
        <% end %>
    </tbody>    
</table>

<%= link_to "Back", employee_menu_path %>
